#about {
  background-color: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
}

.about-header h2 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
}

.about-header p {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 30px;
}

#about p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

#about strong {
  color: #000;
}
